In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

first_data = pd.read_csv('data/diabetes.csv')
first_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [2]:
first_data.duplicated().sum()

np.int64(0)

In [3]:
def low_informative_feature(data):
    low_information_cols = []
    for col in data.columns:
        top_freq = data[col].value_counts(normalize=True).max()
        nunique_ratio = data[col].nunique() / data[col].count()
        if top_freq > 0.95:
            low_information_cols.append(col)
        if nunique_ratio > 0.95:
            low_information_cols.append(col)
    return low_information_cols

low_information_cols = low_informative_feature(first_data)
print(low_information_cols)

[]

In [4]:
first_data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [5]:
lab_values = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']
def change_nan(first_df:pd.DataFrame) -> pd.DataFrame:
    """Replace zero-values on np.nan

    Args:
        first_df (pd.DataFrame): DataFrame with zero values, where they can't exist

    Returns:
        pd.DataFrame: DataFrame whith nan-values for further evaluation
    """
    f = first_df.copy()
    for val in lab_values:
        f.loc[f[val] == 0, val] = np.nan
    return f

first_df = change_nan(first_data)

In [6]:
first_df.shape[0]

768

In [7]:
ins_val = first_df.isnull().sum()/first_df.shape[0] * 100
ins_val

Pregnancies                  0.000000
Glucose                      0.651042
BloodPressure                4.557292
SkinThickness               29.557292
Insulin                     48.697917
BMI                          1.432292
DiabetesPedigreeFunction     0.000000
Age                          0.000000
Outcome                      0.000000
dtype: float64

In [8]:
display(first_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

None

In [9]:
thresh = first_df.shape[0]*0.7
diabetes = first_df.dropna(thresh=thresh, axis=1)
print(first_df.shape[1])

9

In [10]:
thresh2 = first_df.shape[1] - 2
df = first_df.dropna(thresh=thresh2, axis=0)

In [11]:
first_df['SkinThickness'].describe()

count    541.000000
mean      29.153420
std       10.476982
min        7.000000
25%       22.000000
50%       29.000000
75%       36.000000
max       99.000000
Name: SkinThickness, dtype: float64

In [13]:
null_data = first_df.isnull().sum()
cols = null_data[null_data>0].index
for col in cols:
    first_df[col] = first_df[col].fillna(first_df[col].median())
print(first_df['SkinThickness'].mean().round(1))

29.1